rich==14.0.0
zstandard==0.25.0
xxtea==4.0.0
dataclasses-struct==1.4.0
pillow==12.0.0
lxml==6.0.2
types-lxml
# astc-encoder-py==0.1.9
numpy==2.4.0
charset-normalizer==3.4.4
# beautifulsoup4
vxn-py
filetype==1.2.0
pygltflib==1.16.3
# pyquaternion
texture2ddecoder==1.0.5
scipy==1.15.2

requests==2.32.3
xxhash==3.6.0
furl==2.1.4

# for __blender_hook.py
# fake-bpy-module
